{
  "presets": [
    ["es2015", { "modules": false }],
    ["env"]
  ],
  "plugins": [["component", [
    {
      "libraryName": "element-ui",
      "styleLibraryName": "theme-chalk"
    }
  ]],
  ["transform-vue-jsx"]]
}
